/*头部*/
.head{
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #777777;
}
.head_show{
    width: 1200px;
    margin:0 auto;
}
.head_left{
    float: left;
}
.head_left p{
    font-size: 14px;
    color: #FFFFFF;
    float: left;
    padding-right: 20px;
}
.head_right{
    float: right;
    color: #FFFFFF;
}
.head_right a{
    font-size: 14px;
    color: #FFFFFF;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}
.head_right img{
    margin-left: 3px;
}
/*logo*/
.logo{
    width: 100%;
    height: auto;
    background-color: #eeeeee;
}
.logo_img{
    width: 1200px;
    height: 99px;
    margin: 0px auto;
}
.logoImg {
    width: 457px;
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
}