/*ͷ��*/
.head{
    width: 100%;
    height: auto;
}
.head_title{
    width: 100%;
    height: auto;
    float: left;
    background-color: #777777;
}
.head_show{
    width: 1200px;
    height: 40px;
    line-height: 40px;
    margin:0 auto;
}
.head_left{
    float: left;
}
.head_left p{
    color: #ffffff;
    float: left;
    padding-right: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 14px;
}
.head_right{
    float: right;
    color:#ffffff
}
.head_right a,.head_right span{
    font-size: 14px;
    color: #ffffff;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}
.head_right img{
    margin-left: 3px;
}
.head_logo_nav{
    width: 100%;
    float: left;
    height: auto;
    background-color: #eeeeee;
}
.head_nav{
    width: 1200px;
    height: 99px;
    margin:0px auto;
}

.logo{
    width: 457px;
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
}
.logo_img{
    width: 457px;
}

.nav{
    float: right;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 10px;
    position: relative;
}
.codeUl{
    position: relative;
    float: left;
}
.nav ul li{
    font-size: 14px;
    float: left;
    margin-left: 30px;
    cursor: pointer;
}
.nav ul li a{
    font-size: 14px;
    font-weight: bold;
}

.nav ul li ul{
    position: absolute;
    display: none;
    top: 100%;
    padding: 0;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}
.nav ul li:hover > ul {
    display: block;
}
.nav ul li ul li{
    float: left;
    position: relative;
    margin-left: 0px !important;
    padding-left: 10px;
    padding-right: 20px;
    height: 25px;
    line-height: 25px;
    background-color: #ffffff;
}
.nav ul li ul li:first-child{
    padding-top: 5px;
}
.nav ul li a:hover{
    color: #f44848;
}
.nav ul li ul li a{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.seniorSearch{
    border-top: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    width: 88px;
    margin-left: 18px !important;
    background: url("../images/head_2.png") no-repeat 69px 8px ;
}
.seniorSearch:hover{
    border-top: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    background: url("../images/head_2.png") no-repeat 69px 8px ;
    background-color: #ffffff;
    margin-left: 18px !important;
}
.seniorSearch a{
    padding-left: 10px;
    padding-right: 20px;
}
.seniorSearch span{
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
}
/*������*/
.colorClick{
    color: #f44848;
    border-bottom: 1px solid #f44848;
}
.colorNoClick{
    color: #777777;
}

.displayBlock{
    display: block;
}
.displayNo{
    display: none;
}

.seniorSearchHover{

}