*{
    padding:0px;
    margin:0px;
    list-style: none;
    font-size: 12px;
    font-family: 'Arial','Microsoft Yahei',Tahoma,'Simsun';
}
em{
    font-style: normal;
}
strong{
    font-weight: normal;
}
li{list-style: none;}
a{text-decoration: none;}
img{border: none;margin: 0px;padding: 0px;}


.si{
    width: 1200px;
    height: auto;
    overflow: hidden;
    margin: 40px auto
}
.si_title {
    width: 1200px;
    height: 35px;
    line-height: 35px;
}
.si_title p{
    float: left;
    color: #222;
}
.si_search{
    padding:15px 0px;
    text-align: right;
    padding-right: 30px;
    border-bottom: 1px solid #dddddd;
}
.si_main{
    width: 1198px;
    height:auto;
    min-height:620px;
    float: left;
    border: 1px solid #dddddd
}
.si_main .serInput{
    color: #000000;
    margin-left: 600px;
    height: 26px;
}

.search_si_btn{
    height: 30px;
    width: 80px;
    cursor: pointer;
}
.si_tableDiv{
    width: 1188px;
    min-height: 512px;
    float: left;
}
.si_table{
    width: 1188px;
    table-layout:fixed;
    border-collapse: collapse;
    margin-left: 5px;
    margin-top: 5px;
}
.si_thead{
    width: 1188px;
    font-size: 14px;
    text-align: center;
    background-color: #fafafa
}
.si_thead tr,.si_thead td{
    height: 40px;
    border: 1px solid #dddddd;
    border-bottom: none;
    color: #000000;
}
.si_tbody{
    width: 1188px;
    font-size: 12px;
    text-align: center;
}
.si_tbody tr,.si_tbody td{
    border: 1px solid #dddddd;
    border-top: none;
    color: #000000;}
.si_tbody td{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    height: 40px;
}

.listperAuth_button{
    height: 20px;
    float: right;
    line-height: 20px;
    margin-right: 20px;
    text-align: right;
    font-size: 14px;
}
.listperAuth_button p, .listperAuth_button a{
    float: left;
    padding: 0 5px;
}

.clickCursor {
    cursor: pointer;
}