*{
    padding:0px;
    margin:0px;
    list-style: none;
    font-size: 12px;
    font-family: 'Arial','Microsoft Yahei',Tahoma,'Simsun';
}
em{
    font-style: normal;
}
strong{
    font-weight: normal;
}
li{list-style: none;}
a{text-decoration: none;}
img{border: none;margin: 0px;padding: 0px;}

.selectBody{
    width: 900px;
    height: auto;
    margin: 0px auto;
    border: 1px solid #dddddd;
}
.selectSerch{
    width: 500px;
    height: 30px;
    margin-left: 200px;
    margin-top: 50px;
}
.seaInput{
    border: 1px solid #dddddd;
    color: #222222;
    width: 193px;
    height: 28px;
    line-height: 30px;
    padding-left: 5px;
    float: left;
}
.search_a_btn{
    width: auto;
    float: left;
    display: block;
    height: 30px;
    line-height: 30px;
    background-color: #f44848;
    color: white;
    margin-left: 10px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 2px;
}

.selectContent{
    width: 500px;
    height: auto;
    margin-top: 5px;
}
.synonym{
    width: auto;
    height: 25px;
    line-height: 25px;
    margin-left: 200px;
    margin-bottom: 5px;
}
.selecShow{
    width: 500px;
    height: auto;
    border: 1px solid #dddddd;
    margin-left: 200px;
    margin-bottom: 20px;
}
.selectContent a{
   color: red
}